header {
  background-color: #4285f4;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-template-rows: 80px;
  font-family: Arial;
  align-items: center;
}
.logo {
  font-size: 50px;
  text-align: center;
  font-style: italic;
  grid-column: 1;
  grid-row: 1;
  .site-title {
    font-size: 16px;
    text-align: center;
    margin-top: -10px;
  }
}

.menu {
  grid-column: -1;
  position: relative;
  .menu-trigger {
    cursor: pointer;
  }
  span {
    height: 4px;
    width: 30px;
    display: block;
    background: white;
    margin: 5px;
  }
  nav {
    display: none;
    padding: 10px;
    background: white;
    position: absolute;
    border-radius: 5px;
    right: 5px;
    &.show {
      display: block;
    }
    a {
      display: block;
      padding: 10px 0;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 14px;
    }
  }
}
